name: Nginx-Image-CI

on: 
  push:
  pull_request:

jobs:
  Image-Build-Scan-Push:
    environment: Test
    runs-on: ubuntu-latest
    steps:
      - name: Build an image from Dockerfile
        run: |
          docker build -t docker.io/edar822/thetrinity:test .
      - name: Run Trivy Vulnerability Scanner
        uses: aquasecurity/trivy-action@master
        with:
          image-ref: 'docker.io/edar822/thetrinity:test'
          format: 'table'
          exit-code: '1'
          ignore-unfixed: true
          vuln-type: 'os,library'
          severity: 'CRITICAL,HIGH'